{% extends 'home/base.html' %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Main Page</title>
{% endblock title %}

{% block content %}


<h1>Фильмы и Chart.js</h1>
<h3>Фильмы: </h3>
{% for movie in movies %}
    <ul>
        <li>
            <strong>"{{ movie.title }}"</strong>. Сборы: {{ movie.gross|intcomma }} гривен |
            <a href="{% url 'delete-movie' movie.pk %}" class="btn btn-close" title="Удалить"></a>
        </li>
    </ul>
{% endfor %}


<div class="card w-50 shadow">
  <div class="card-header">
    Добавить фильм
  </div>
  <div class="card-body">
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {% crispy form %}
    </form>
  </div>
</div>

{% endblock content %}